*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    font-size:62,5%;
    box-sizing: border-box;
}

body{
    position:relative;
    font-size:1.6rem;
    z-index:-1;
    margin:50px 30px;

}

.navbar {
    padding:20px;
    display:flex;
    align-items: center;
    max-width:600px;
    margin:0 auto;
    border:1px solid #f2f2f2;
}

.navbar h3{
    color:#f1356d;
}

.navbar .links{
    margin-left:auto;
}

.links a:not(:last-child){
    margin: 1rem;
}

.links .btn{
    text-decoration:none;
    color:white;
    border-radius:0.5rem;
    padding:0.6rem 1.3rem;
    cursor:pointer;
    background-color: #f1356d;

    
}


.links a{
    text-decoration: none;
    color:black;
}

.content{
    max-width:600px;
    margin:40px auto;
    padding:20px;
}


.blog-preview{
    padding:10px 16px;
    margin:20px 0;
    border-bottom: 1px solid #fafafa;

}

.blog-preview:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0.1);
}

.blog-preview h2{
    font-size:20px;
    color:#f1356d;
    margin-bottom:8px;
}

.abc{
    text-decoration:none;
    color:black;
}

.create{
    max-width:400px;
    margin:0 auto;
    text-align: center;
}

.create label{
    text-align:left;
    display:block;
}

.create h2{
    font-size:2rem;
    color:#f1356d;
    margin-bottom:2rem;
}

.create input, .create textarea, .create select{
    width:100%;
   padding:6px 10px;
   margin:10px 0;
   border:1px solid #ddd;
   box-sizing:border-box;
   display:block;


}

.create button{
    padding:8px;
    border:0;
    color:white;
    border-radius:8px;
    cursor:pointer;
    background-color:#f1356d;
}

.btn{
    padding:0.6rem 1.3rem;
    background-color:#f1356d;
    color:white;
    border-radius:8px;
    border:0;
    cursor:pointer;
    margin-top:1rem;
}

.btn:hover{
    margin-left:0.8rem;
}